body{
	background-image: url('../images/beer.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

h1{
	background-image: url('../images/ribbon.png');
	background-repeat: no-repeat;
	background-position: center;
	color: #FFD700;
}

h3{
	text-align: center;
	margin: 10px;
}

h4{
	text-align: left;
	margin-left: 10px;
}

h5{
	text-align: left;
	margin-left: 10px;
}

form{
	box-shadow: 1px 1px 2px #C3C3C3;
	border: 3px solid grey;
	position: relative;
	width: 60%;
	position: relative;
  	overflow: hidden;
  	margin: 0 auto 15px;
  	margin-bottom: 35px;
}

td {
  height: 50px;
  vertical-align: bottom;
}

label{
	font-weight: bold;
}

table {
	border: 2px;
	width: 75%;
	text-align: center;
	font-size: 17px;
}

p{
	font-size: 18px;
	margin-left: 10px;
}

div.form_content{
	margin-left: 20px;
	margin-bottom: 15px;
	font-size: 18px;
}

div.container{
	background-color: #FFFFFF;
	align-content: center;
	margin-top: 25px;
	box-shadow: 1px 1px 2px #C3C3C3;
	opacity: 0.7;  	
  	color: black;
  	margin-bottom: 20px;
}

p.db_info{
	font-size: 14px
}

.column_left {
  float: left;
  width: 70%;
  margin-left: 20px
}

.column_right {
  float: left;
  width: 20%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.beer_status{
	margin-right: 10px;
}

.action_buttons{
	text-align: center;
	margin-right: 30px;
	margin-bottom: 30px;
	padding-top: 15px;
	width: 100%;
}

.text_center{
	text-align: center;
	padding: 10px;
}

.remove_container{
	position: right;
	padding-right: -10px;
	vertical-align: right;
}

.truck_container{
	border: 3px solid grey;
	position: relative;
  	overflow: hidden;
  	height: 220px;
  	margin: 0 auto 15px;
  	margin-bottom: 35px;
  	color: black;
}

.navbar{
	background:#FFF;
}

.beer_title{
	font-size: 20px;
	text-decoration-color: white;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	background-image: url('../images/ribbon_beer_title.png');
	background-size: cover;
	background-position: center;
	opacity: 1; 
}