
<!DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8"/>
			
			<title>Beers</title>

			<!-- JQuery -->
			<script src="js/jquery-2.2.1.js"></script>

			<!-- bootstrap -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		
			<!-- incluindo css -->
			<link href="css/style.css" rel="stylesheet">

		</head>

	<body>
	
	    <div class="container">
	    	<div class="row">

	    		<h1 class="text_center">Beers' Temperature</h1>

				<div class="action_buttons">
					<nav>
			    		<button type="button">
			    			<a href="open_truck">Open Truck</a>
			    		</button>
			    		<button type="button">
			    			<a href="add_container">Load Truck</a>
			    		</button>
			    		<button type="button">
			    			<a href="beers">New Beer</a>
			    		</button>
			    	</nav>
			    </div>

	    		<% for(var i = 0; i < containers.length; i++) { %>
		    		<div class="col-md-4">
		    			<div class="truck_container">
			    			<p class="beer_title">
			    				<%= containers[i].beer_name %>
			    			</p>
			    			<p>
			    				Actual Temperature: <%= containers[i].temp_actual %><sup>o</sup>
			    			</p>
			    			<p>
			    				Status: 
			    			</p>
			    			<p>
			    				Minimum Temperature: <%= containers[i].temp_min %><sup>o</sup>C
			    			</p>
			    			<p>
			    				Maximum Temperature: <%= containers[i].temp_max %><sup>o</sup>C
			    			</p>
			    		</div>
			    	</div>
			    <% } %>
	    	</div>	    	
	    </div>
	
		
	</body>
</html>