<!DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8"/>
			<title>Beers</title>
		</head>
	<body>

		<h1>Beers' List</h1>

		<h2>New Beer</h2>

		<form action="/beer/new_beer" method="post">
			<label>Name:</label>
			<input type="text" id="name" name="beerType" placeholder="Beer Type"/>
			<br/>
			<label>Minimum Temperature:</label>
			<input type="int" id="tempMin" name="tempMin" placeholder="Minimum Temperature"/>
			<br/>
			<label>Maximum Temperature:</label>
			<input type="int" id="tempMax" name="tempMax" placeholder="Maximum Temperature"/>
			<br/>
			<input type="submit" value="Save">
		</form>

		<table>
			
			<tr>
				<td>Beer</td>
				<td>Minimum Temperature</td>
				<td>Maximum Temperature</td>
			</tr>
			<% for(var i = 0; i < beers.length; i++){ %>
				<tr>
					<td><%= beers[i].name %></td>
					<td><%= beers[i].tempMin %></td>
					<td><%= beers[i].tempMax %></td>
				</tr>
			<% } %>

		</table>

	</body>
</html>